$background-color: #FDFDFD;
$even-bg-color1:#6E6868;
$even-bg-color:#E0E0E0;
$even-text-color:#fff;
$odd-bg-color:#fff;
$odd-text-color:#563d7c;

$footer-height:100px;

$light-grey:#999;

$nth-odd-bg:#F4F2F2;
$nth-even-bg:#EFF0F7;

$nth-odd-hover:#EDEBEB;
$nth-even-hover:#E7EAFD;